In [31]:
import pandas as pd

In [32]:
raw_data = pd.read_excel("raw data.xlsx") # Load the raw dataset from an Excel file
raw_data.head() ## Show the first few rows to check the structure of the dataset

   W  Slip_plane  Temperature  Applied_stress  Velocity  Maximum_stress
0  0         110            0             0.5     12.68       852.44638
1  0         110            0             1.0     13.40      1764.06895
2  0         110            0             1.5     14.35      2673.03972
3  0         110          300             0.5     12.57       833.13348
4  0         110          300             1.0     13.30      1706.98713

In [33]:
cleaned_data =raw_data.dropna() # Drop rows with missing values to ensure my data is clean
cleaned_data.head(15) # Show the first 15 rows of the cleaned dataset

    W  Slip_plane  Temperature  Applied_stress  Velocity  Maximum_stress
0   0         110            0             0.5     12.68       852.44638
1   0         110            0             1.0     13.40      1764.06895
2   0         110            0             1.5     14.35      2673.03972
3   0         110          300             0.5     12.57       833.13348
4   0         110          300             1.0     13.30      1706.98713
5   0         110          300             1.5     14.04      2560.20202
6   0         110         1000             0.5     11.63       743.36036
7   0         110         1000             1.0     12.50      1498.75891
8   0         110         1000             1.5     12.82      2227.92861
9   0         110         2000             0.5      9.47       705.41306
10  0         110         2000             1.0     11.10      1397.50870
11  0         110         2000             1.5     11.42      2084.27821
12  0         112            0             0.5     14.63       909.45174
13  0         112            0             1.0     16.53      1899.53812
14  0         112            0             1.5     16.90      2887.21280

In [34]:
slip_planes_of_interest = [110, 112, 123] #I filtered the data to have only 3 kinds of planes; (110),(112),(123)
filtered_data = cleaned_data[cleaned_data.iloc[:, 1].isin(slip_planes_of_interest)] # Filter the dataset to include only the rows with the planes I want
filtered_data = filtered_data.rename(columns={"W": "Solute_Concentration"}) # Rename the column "W" to "Solute_Concentration" for better understanding
filtered_data.tail(15) # Show the last 15 rows of the final filtered dataset

,Solute_Concentration,Slip_plane,Temperature,Applied_stress,Velocity,Maximum_stress
93,5,112,2000,0.5,13.00,919.65484
94,5,112,2000,1.0,15.18,1897.02410
95,5,112,2000,1.5,15.93,2893.43807
96,5,123,0,0.5,12.25,909.09407
97,5,123,0,1.0,14.87,1881.01063
98,5,123,0,1.5,15.85,2862.61121
99,5,123,300,0.5,12.79,896.71851
100,5,123,300,1.0,14.87,1850.66871
101,5,123,300,1.5,15.66,2806.92192
102,5,123,1000,0.5,12.43,851.42706
103,5,123,1000,1.0,14.29,1782.20806
104,5,123,1000,1.5,15.17,2716.89155
105,5,123,2000,0.5,11.35,855.95904
106,5,123,2000,1.0,13.51,1756.16886
107,5,123,2000,1.5,15.20,2681.51702